<app-header></app-header>
<div class="content">
        <form (ngSubmit)="update()">
                <div class="form-group">
                    <label>Name:<input class="form-text" name="name" [(ngModel)]="name"></label><br />
                </div>
                <div class="form-group">
                    <label>Local IP:<input class="form-text" name="localip" [(ngModel)]="localip"></label><br />
                </div>
                <div class="form-group">
                    <label>Neighbours:<input class="form-text" name="neighbours" [(ngModel)]="neighbours"></label><br />
                </div>
                <button class="btn btn-success" type="submit">Update</button>
            </form>

   
</div>
