<app-header></app-header>
<div class="content">

<table class="table table-hover">
<thead>
<tr>
<th>LSA</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let lsa of lsas" scope="row">
<td>{{lsa}}</td>
</tr>
</tbody>
</table>